
body {
  padding: 0;
  margin: 0;
  width:100%;
}

main {
  width: 960px;
  margin: 0 auto;
}

main div img:first-child {
  margin-top: 30px;
}

header {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
}

li {
  display: inline;
}

footer {
  padding: 10px;
}

ul {
  width: 960px;
  margin: 0 auto;
  border:1px solid orange;
  padding:12px;
}

section img {
  width:30.96%;
  margin-right: 30px;
  display:inline-block;
  margin-top: 30px;
}

section img:last-child{
  margin-right: 0;
}

#textOnSide section{
  display:inline-block;
  width:400px;
  margin-left:30px;
}

p {
  height:320px;
  overflow: scroll;
  margin-bottom: 20px;
}

#textOnSide {
  margin-bottom:30px;
}

button {
  font-size: 20px;
  background-color:black;
  color:white;

}

button:hover{
  background-color:white;
  color:black;
  
}