/* Entire body */
body {
  padding: 0;
  margin: 0;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  background-color: grey;
  color: white;
}

header img{
  margin-right: 30px;
}

ul {
  width: 960px;
  margin: 0 auto;
  padding:12px;
}

li {
  display: inline-block;
  margin-right: 75px;
}

a {
  text-decoration:none;
  color: #aaa;
}

/* main */
main {
  width: 960px;
  margin: 0 auto;
}

main div img:first-child {
  margin-top: 30px;
}

/* sub banner */
section img {
  width:30.9%;
  margin-right: 30px;
  display:inline-block;
  margin-top: 30px;
}

section img:last-child{
  margin-right: 0;
}

/* main featured section */
#textOnSide section{
  display:inline-block;
  width:400px;
  margin-left:30px;
}

p {
  height:320px;
  overflow: scroll;
  margin-bottom: 15px;
  line-height: 20px;
  font-style: italic;
}

#textOnSide {
  margin-bottom:30px;
}

button {
  border: none;
  font-size: 18px;
  background-color:black;
  color:white;
  padding: 10px 30px;
  border-radius: 3px;
  transition: 350ms;
}

button:hover{
  background-color: green;
}

/* footer */
footer {
  background-color: grey;
  height:100px;
}
